<!DOCTYPE html>
<html>
<head>
  <title>Success</title>
</head>
<body>
  <h1>Registration Successful 🎉</h1>
  <p>Email: <%= data.email %></p>
  <p>Age: <%= data.age %></p>
  <a href="/">Go Back</a>
</body>
</html>
